*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif; 
}

section{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center; 
    background-image: url(Images/bgImg.jpg);
}

.container{
    width: 650px;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #000;
    background-color: #fff;
    border-radius: 150px 0 150px 0;
}

.container .title{
    font-size: 3em;
    text-shadow: 10px 15px 5px #87986a;
    color: #000;
}

.container .img img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.container .text{
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    align-items: center;
    padding: 20px;
    text-shadow: 10px 15px 5px #87986a;
}

.container .button button{
    padding: 20px;
    font-size: 1.5em;
    font-weight: 900;
    border: none;
    border-radius: 50px;
    color: #87986a;
}

.container .button button:hover{
    background-color: #87986a;
    color: #fff;    
}

.container .footer{
    text-align: center;
    font-weight: 900;
    font-size: 1em;
}

@media (max-width: 900px){
    .container{
        width: 350px;
        border-radius: 50px;
    }
    .container .text{
        font-size: 1em;
        text-shadow: 10px 15px 5px #87986a;
    }
    .container .title{
        font-size: 2em;
    }
    .container .img img{
        width: 200px;
        height: 200px;
    }
}
